body{
    background-color: #e6e5e5;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  border-bottom: 1px solid #ddd ;
}

.navbar-pic{
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}

.navbar-item {
  background-color: transparent;
  align-items: right;
  border: none;
  outline: none;
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  margin: 0 6px 0px;
  color: black;
  border-radius: 10px;
  font-size: 20px;
  font-family: sans-serif display;
  font-weight: 125;
}

.navbar-item:hover {
  color: #FFFFFF; /* Change the color of the links on hover */
}

.font-effect-3d-float{
  padding-left: 25px;
  color: black;
  font-family: sans-serif display;
  font-weight: 400;
}



button {
  cursor: pointer;
}
.on {
  color: gold
}
.off {
  color: #ccc;
}
